/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #24292D;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

/*********************************/
#topBar {
    color: white;
    background-color: #2B3137;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
#topBar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topBar .left-links {
    margin-left: 20px;
    cursor: pointer;
}
#topBar .left-links span {
    padding: 40px;
}
#topBar .right-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
#topBar .right-links img {
    padding: 10px;
    cursor: pointer;
}
/*********************************/


/*********************************/
#personalInfo {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    opacity: 0;
    transform: translateY(100px);
    animation: fadeSlideUp 3s ease-out forwards;
}

@keyframes fadeSlideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


    #pictureFrame {
        position: relative;
        width: 325px;
        min-width: 325px;
        height: 453px;
    }
    #pictureFrame #frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; /* on top */
    }
    #pictureFrame #photo {
        position: absolute;
        top: 70px;      /* Adjust vertically */
        left: 35px;     /* Adjust horizontally */
        width: 255px;
        height: 313px;
        z-index: 2;     /* behind the frame */
    }

    .paper {
        --margin-line: #941c5a;
        --lines: #1d97b8;

        width: 850px;
        height: 600px;
        background-color: #fff;
        background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
        background-size: 100% 2em;
        position: relative;
        box-shadow: 15px 15px 33px rgba(27, 27, 27, 0.1);
        
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
        }
    
        &:before {
            height: 100%;
            width: 2px;
            background-color: var(--margin-line);
            left: 4em;
            z-index: 2;
        }
    
        &:after {
            height: 6em;
            width: 100%;
            background-color: #fff;
            left: 0;
            z-index: 1;
        }
    
        .holes {
            background-color: #eee;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: block;
            z-index: 10;
            margin-left: 1em;
            margin-top: 6em;
    
            &:before,
            &:after {
                content: "";
                width: 35px;
                height: 35px;
                background-color: #eee;
                position: absolute;
                border-radius: 50%;
            }
    
            &:before {
                top: 50%;
            }
    
            &:after {
                top: calc(100% - 6em);
            }
        }
    }
    
    p {
        position: absolute;
        top: 6.3rem;
        left: 4rem;
        width: calc(100% - 5rem);
        height: calc(100% - 7rem);
        background-color: transparent;
        border: none;
        /* font-family: "Comic Sans"; */
        font-size: 20px;
        line-height: 1.6;
        padding-left: 1rem;
        margin: 0;
        resize: none;
    }

/*********************************/

/*********************************/
#title {
    color: white;
    background-color: #B06328;
    display: flex;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    justify-content: center;
    align-items: center;

    gap: 30px;

    width: 300px;
    height: 80px;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

#lineBreaker {
    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/*********************************/

#workExperiences {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#GitHubIcon {
    margin-bottom: 60px;
}
/*********************************/

/*********************************/
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);

    }
}
#title, #lineBreaker, #workExperiences {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}



  